@import 'bootstrap';

body {
    padding-top: 70px; 
}

h3 {
	text-align: center;
}

li {
	display:inline;
}

.brand {
	float: left;
}

.userinfo {
	padding-top: 10px;
	float: right;
}

#notice {
	padding-top: 8px;
}
